<div class="row p-2">
  <div class="col-8">
    <div class="card">
      <div class="card-header  bg-success">
        <h5>
          Employee List
        </h5>

      </div>
      <div class="card-body">
        <div class="col-12">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Sl No</th>
                <th>Emp Id</th>
                <th>Emp Name</th>
                <th>City</th>
                <th>Contact No</th>
                <th>Email Id</th>
                <th>State</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>

              @for(item of employeeList; track $index){
              <tr>
                <td>{{$index+1}}</td>
                <td>{{item.empId}}</td>
                <td>{{item.empName}}</td>
                <td>{{item.city}}</td>
                <td>{{item.contactNo}}</td>
                <td>{{item.emailId}}</td>
                <td>{{item.state}}</td>
                <td class="text-center">
                  <button class="btn btn-primary" (click)="editEmployee(item)">
                    edit
                  </button>
                  <button class="btn btn-danger ms-2" (click)="deleteEmployee(item.empId)">
                    delete
                  </button>
                </td>
              </tr>
              }


            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card">
      <div class="card-header bg-success">
        @if(employeeForm.controls['empId'].value == '1'){
        New Employee
        }
        @else{
        Update Employee
        }
      </div>
      <div class="card-body">
        <form [formGroup]="employeeForm">
          <div class="row">
            <div class="col-6">
              <label for=""> Employee Name </label>
              <input type="text" class="form-control" formControlName="empName">
              <div class="text-danger">
                @if(employeeForm.controls['empName'].touched){
                @if(employeeForm.controls['empName'].errors?.['required']){
                <span>
                  This is required
                </span>
                }
                }
              </div>
            </div>
            <div class="col-6">
              <label for=""> City </label>
              <input type="text" class="form-control" formControlName="city">
              <div class="text-danger">
                @if(employeeForm.controls['city'].touched){
                @if(employeeForm.controls['city'].errors?.['required']){
                <span>
                  This is required
                </span>
                }
                @if(employeeForm.controls['city'].errors?.['minlength']){
                <span>
                  minimum 3 charcters is requred
                </span>

                }
                }
              </div>
            </div>
            <div class="col-6">
              <label for=""> Contact No </label>
              <input type="text" class="form-control" formControlName="contactNo">
            </div>
            <div class="col-6">
              <label for=""> Email Id </label>
              <input type="text" class="form-control" formControlName="emailId">
            </div>
            <div class="col-6">
              <label for=""> State </label>
              <input type="text" class="form-control" formControlName="state">
            </div>

          </div>
          <div class="col-6 text-center pt-2">
            @if(employeeForm.controls['empId'].value == '1'){
            <button class="btn btn-success" (click)="saveEmployee()" [disabled]="employeeForm.invalid">
              Submit
            </button>
            }
            @else{
            <button class="btn btn-success" (click)="updateEmployee()" [disabled]="employeeForm.invalid">
              Update
            </button>
            }

            <button class="btn btn-danger" (click)="resetEmployee()">
              Reset
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>